{{#bs-dropdown tagName="span" as |dd|}}
  {{filter.name}}
  {{#dd.toggle}}Choose Value <span class="caret"></span>{{/dd.toggle}}
  {{#dd.menu as |menu|}}
    {{#each-in filter.values as |key value|}}
        {{#menu.item}}
        <a {{action "selectState" value}}>{{key}}</a>
        {{/menu.item}}
    {{/each-in}}
  {{/dd.menu}}
{{/bs-dropdown}}
