<button data-test-button {{action 'addStatus'}}>+</button>
{{#if isAdding}}
    {{#each availableFilters as |filter|}}
        {{ember-filter/add/value filter=filter addFilter=(action "add")}}
    {{/each}}
{{/if}}

