<button {{action 'addInfo'}}>+</button>
{{#if isAdding}}
    {{#each filters as |filter|}}
        {{filter.name}}
        {{ember-filter/add/value values=filter.values filter=filter sendData=(action "add")}}
    {{/each}}
{{/if}}

